[Unit]
Description=Diskmon periodic storage check (one-shot)
After=network.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/etc/diskmon
ExecStart=/usr/local/bin/diskmon-mail/diskmon-mail
StandardOutput=journal
StandardError=journal
Nice=10
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
